*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/wood-pattern.jpg);
  background-size: cover;
  background-position: no-repeat;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position:relative
  
}
#draggable{
  position: absolute;
  width:18rem;
  height:34rem;
  transform: translate(-50%,-80%);
  top:500px;
  left:500px;
}
.iphone-main{
  width:18rem;
  height:34rem;

  border-radius: 1.8rem;
  background: linear-gradient(90deg,#fff, #f5f5f5) padding-box,
  linear-gradient(45deg, rgb(235, 215, 168), rgb(240, 207, 137)) border-box;
  border: 4px solid transparent;
  margin: 0 auto;
  position: relative;
  transition: 0.3s;
 
}
.iphone-main:hover{
  box-shadow: 4px -4px 2px 2px rgba(76, 76, 75, 0.4);
 
  margin-top: 3px;
 
}

.iphone-screen {
  box-sizing: inherit;
  width:16rem;
  height:26rem;
  background-image: url(./images/wallpaper2.jpg);
  background-size: cover;
  background-position: no-repeat;
  margin: 60px 12px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-button {
  box-sizing: inherit;
  width:3rem;
  height:3rem;
  background: linear-gradient(#fff, #fff) padding-box,
             linear-gradient(90deg, rgb(100, 100, 102), rgb(239, 236, 236)) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
  margin: -54px auto;
}
.iphone-buttons{
  width:17.1rem;
  height:144px;
  position: absolute;
  top:60px;
  left:-7px;
  
}

.mute{
  width:3px;
  height:18px;
  border: 1px solid #ac9377 ;
  background-color:#fbdab7;
  border-radius: 1px;
  margin-bottom: 1.8rem;
  }
.up{
  width:3px;
  height:40px;
  border: 1px solid #ac9377 ;
  background-color:#fbdab7;
  border-radius: 1px;
  margin-bottom: 1rem;
  position: relative;
}
.down{
  width:3px;
  height:40px;
  border: 1px solid #ac9377 ;
  background-color:#fbdab7;
  border-radius: 1px;
}
.lock{
  width:3px;
  height:40px;
  border: 1px solid #ac9377 ;
  background-color:#fbdab7;
  border-radius: 1px;
  position:absolute;
  right:-20px;
  top:44.5px
}
.iphone-sensors{
  position :absolute;
  width: 18rem;
  height:2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sensor{
  margin-top: 6px;
  width:5px;
  height:5px;
  border-radius:50%;
  background-color: #000;
}
.mic{
  width:40px;
  height:4px;
  border-radius:2px;
  background-color: #000;
}
.camera{
  width:8px;
  height:8px;
  border-radius:50%;
  background-color: #000;
  position:absolute;
  top:28px;
  left: 102px;
}
.screen-header{

  display: flex;
  flex-direction: row;

  padding-top:4px;
  padding-left:4px;
  padding-right:4px;
/* margin: 4px 2px; */
 
}
.network {color:#f5f5f5;
display: flex;
height:10px;
flex-direction: row;
align-items: center;
}

.network-dots {
  height: 4px;
  width: 4px;
 
  background-color: #fafafa;
  border-radius: 50%;
  margin-right:2px;
  display: inline-block;

}
.network-name{
  font-size: 10px;
  font-weight: 300;
}
.network-wifi{
  margin-left: 2px;
}
.network-wifi  img{
  height: 12px;
  width: 12px;
}
.pointer {
  width:1.5rem;
  height:0.3rem;
  /* margin-top: 0.5rem; */
  background-color: grey;
  border-radius: 3px;
  margin:2px 88px 0px 34px
}
.bottom  {
  margin: auto auto;
}

.battery {
  height:18px;
  position: relative;
}
#battery-charge{
  position:absolute;
  top:3px;
  left:2px;
  width:8px;
  height:5.5px;
  /* //background-color: #0dd81e; */
 
}
.battery img{ 
  /* object-fit: cover; */
  margin-top: -4px;
  width: 100%;
  height: 100%;}

.screen-main{
  height:95%;
}


.screen-footer{
  display: flex;
  flex-direction: row;
}
.fake-div-bottom{
  height: 20px;
  width: 25px;
  margin-bottom: 6px;
  margin-right: 4px;
}
.camera-icon{
  background-image: url(./images/camera-icon.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 25px;
  margin-bottom: 6px;
  margin-right: 4px;

}
.screen-main{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-block{
 
  width:36px;
  height:10px;
  position:relative;
  background-color:"white"
}
#arrow{
  position:absolute;
  height: 10px;
  left:0px;
  top:-5px}
.unlock-slide{
  margin-top: 14rem;
  color:rgb(166, 164, 164);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;

 
}

.slide-title{
  margin-bottom:2px ;
  display: inline-block;
}
/* .unlock-icon{
  height: inherit;
  
} */
#arrow-image{
  position:absolute;
 
  width:10px;
  height:16px;


}
